{
  "openapi": "3.1.0",
  "info": {
    "title": "Frogface Life OS API",
    "description": "Personal Life OS dashboard API — manage quests, log entries, and system status",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://frogface.space" }
  ],
  "paths": {
    "/api/status": {
      "get": {
        "operationId": "getStatus",
        "summary": "Get system status — quests, XP, log count",
        "responses": {
          "200": {
            "description": "System status",
            "content": { "application/json": { "schema": { "type": "object" } } }
          }
        }
      }
    },
    "/api/quests": {
      "get": {
        "operationId": "getQuests",
        "summary": "Get all HQ quests with progress",
        "responses": {
          "200": {
            "description": "List of quests",
            "content": { "application/json": { "schema": { "type": "object" } } }
          }
        }
      },
      "post": {
        "operationId": "addQuest",
        "summary": "Add a new quest to the HQ board",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title"],
                "properties": {
                  "title": { "type": "string", "description": "Quest title" },
                  "project": { "type": "string", "description": "Project name (e.g. MyReply, Edison)" },
                  "xp": { "type": "integer", "description": "XP reward (default 100)" },
                  "priority": { "type": "string", "enum": ["normal", "critical", "boss"], "description": "Quest priority" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Quest created" }
        }
      }
    },
    "/api/tasks": {
      "get": {
        "operationId": "getTasks",
        "summary": "Get task queue for Cursor and other agents",
        "parameters": [
          { "name": "status", "in": "query", "schema": { "type": "string", "enum": ["pending", "in_progress", "done", "cancelled"] }, "description": "Filter by status" },
          { "name": "agent", "in": "query", "schema": { "type": "string", "enum": ["cursor", "moltbot", "human", "any"] }, "description": "Filter by agent" },
          { "name": "project", "in": "query", "schema": { "type": "string" }, "description": "Filter by project" }
        ],
        "responses": {
          "200": { "description": "List of tasks" }
        }
      },
      "post": {
        "operationId": "createTask",
        "summary": "Create a task for Cursor AI or other agents",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title", "description"],
                "properties": {
                  "title": { "type": "string", "description": "Task title" },
                  "description": { "type": "string", "description": "Detailed task description" },
                  "priority": { "type": "string", "enum": ["boss", "critical", "high", "normal", "low"] },
                  "project": { "type": "string", "description": "Project: myreply, edison, frogface, video, content" },
                  "agent": { "type": "string", "enum": ["cursor", "moltbot", "human", "any"], "description": "Who should execute" },
                  "files": { "type": "array", "items": { "type": "string" }, "description": "Related file paths" },
                  "acceptance": { "type": "array", "items": { "type": "string" }, "description": "Acceptance criteria" },
                  "context": { "type": "string", "description": "Additional context" },
                  "quest_id": { "type": "string", "description": "Related quest ID" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Task created" }
        }
      },
      "patch": {
        "operationId": "updateTask",
        "summary": "Update task status or result",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id"],
                "properties": {
                  "id": { "type": "string", "description": "Task ID" },
                  "status": { "type": "string", "enum": ["pending", "in_progress", "done", "cancelled"] },
                  "result": { "type": "string", "description": "Task result/summary" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Task updated" }
        }
      }
    },
    "/api/log": {
      "get": {
        "operationId": "getLog",
        "summary": "Get activity log entries",
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer" }, "description": "Max entries (default 20)" },
          { "name": "source", "in": "query", "schema": { "type": "string" }, "description": "Filter by source (hq, command, agent:moltbot)" }
        ],
        "responses": {
          "200": { "description": "Log entries" }
        }
      },
      "post": {
        "operationId": "addLogEntry",
        "summary": "Add entry to the activity log / chronicle",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["text"],
                "properties": {
                  "text": { "type": "string", "description": "Log entry text" },
                  "source": { "type": "string", "description": "Source (default: command)" },
                  "type": { "type": "string", "enum": ["log", "story", "achievement", "gold", "xp"], "description": "Entry type" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Entry created" }
        }
      }
    }
  }
}
